In [61]:
import pandas as pd
import itertools

    1  2  3  4  5
0   1  1  1  1  3
1   1  1  1  2  2
2   1  1  2  1  3
3   1  1  2  2  1
4   1  2  1  1  3
5   1  2  1  2  2
6   1  2  2  1  3
7   1  2  2  2  1
8   2  1  1  1  3
9   2  1  1  2  2
10  2  1  2  1  3
11  2  1  2  2  1
12  2  2  1  1  3
13  2  2  1  2  2
14  2  2  2  1  3
15  2  2  2  2  3
16  3  1  1  1  3
17  3  1  1  2  3
18  3  1  2  1  3
19  3  1  2  2  1
20  3  2  1  1  3
21  3  2  1  2  2
22  3  2  2  1  3
23  3  2  2  2  3